/* 1. Все элементы <p> на странице
Сделайте текст красным */
p {
    color: red;
}
/* 2. Элемент с идентификатором "header"
Измените цвет фона на желтый */
div h1 {
    background-color: yellow;
}
/* 3. Все элементы с классом "highlight"
Установите размер шрифта в 20 пикселей */
.highlight {
    font-size: 20px;
}
/* 4. Все элементы <a> с классом "external"
Установите цвет фона в синий */
 a.external {
    background-color: blue;
 }
/* 5. Все элементы с классами "post" и "featured"
Измените цвет текста на зеленый */
 .post, .featured {
    color: green;
 }
/* 6. Элементы <li> внутри элемента с идентификатором "menu"
Установите выравнивание текста по центру */
#menu li {
    text-align: center;
}
/* 7. Все элементы <h1> и <h2> на странице
Сделайте текст белым и фон черным */
h1, h2 {
    color: white;
    background-color: black;
}
/* 8. Все элементы с классами "warning" или "error"
Установите размер шрифта в 14 пикселей */
.warning, .error {
    font-size: 14px;
}
/* 9. Все элементы с классом "button" и все <a> элементы на странице
Измените цвет фона на голубой */
.button, a {
    background-color: blue;
}
/* 10. Все элементы <p>, которые находятся внутри элемента с классом "article"
Установите выравнивание текста влево */
.article p {
    text-align: left;
}
/* 11. Все элементы с классом "subheading", которые находятся внутри элемента с классом "section"
Сделайте текст оранжевым */
.section .subheading {
    color: orange;
}
/* 12. Все <ul> элементы, которые непосредственно следуют за <div> элементами
Измените цвет фона на серый */
ul + div {
    background-color: grey;
}
/* 13. Все элементы с классом "highlight", которые идут сразу после элементов <h3>
Установите размер шрифта в 24 пикселя */
 .highlight + h3 {
    font-size: 24px;
 }
/* 14. Все <li> элементы, которые идут после <li> элемента с классом "selected"
Установите выравнивание текста вправо */
 li + .selected {
    text-align: right;
 }
/* 15. Все <p> элементы, которые следуют после <h2> элементов
Сделайте текст фиолетовым и фон зеленым */
 p + h2 {
    color: blueviolet;
    background-color: green;
 }
/* 16. Все <a> элементы и все элементы с классом "button"
Установите размер шрифта в 18 пикселей */
 a, .button {
    font-size: 18px;
 }
/* 17. Все элементы с классами "featured" или "popular"
Измените цвет фона на коричневый */
.featured, .popular {
    background-color: brown;
}
/* 18. Все <li> элементы, которые непосредственно лежат в <ul> элементах, находящимися внутри элементов с классом "menu"
Установите выравнивание текста по правому краю */

/* 19. Все <p> элементы, которые следуют после <h2> элементов и находятся внутри элементов с классом "article"
Сделайте текст синим и фон оранжевым */

/* 20. Все элементы с классом "info", которые идут сразу после элементов <h3> и находятся внутри элементов с классом "sidebar"
Установите размер шрифта в 22 пикселя */
